.image.is-4by3 img {
  height: 200px;
  width: 400px;
}
.image.is-4by3 {
  padding-top: 200px;
}
.card .media:not(:last-child) {
  margin-bottom: 10px;
}

.card {
  margin: 50px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px;
  border-radius: 20px;
}

.appButton {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: large;
  font-style: bold;
  color: white;
  background-color: blue;
  padding: 10px;
  width: 500px;
  border-radius: 10px;
}

.cards {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.courseList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchDiv {
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 10px;
  margin: 50px;
}

.searchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.axiosClass {
  min-width: 500px;
}

.imageList {
  padding: 10px;
  columns: 250px 5;
}
